<div class="text-center">
    <img src="/img/preguntaFondo.jpg" style="z-index: 0; position:absolute; top:0; left:0; width:100vw; height:100vh;">
    <h1 style="position:absolute; top:10%; left:80%; color:white;">Jugador: @ViewBag.Player.Nombre</h1>
    @{
        string ImagenPozo = "/img/pozo" + (ViewBag.PosicionPozo+1) + ".png";
        <img src="@ImagenPozo" width="300px" style="position:absolute; top:15%; left:80%">
        <div class="container">
            <h1 style="position:absolute; top:60%; left:23%; color:white; font-size:24px">@ViewBag.Pregunta.TextoPregunta</h1>
        </div>
        int topR = 0, leftR = 0;
        foreach (Respuesta resp in ViewBag.ListaRespuestas)
        {
            if (resp.OpcionRespuesta == 'A') { topR = 74; leftR = 25; }
            if (resp.OpcionRespuesta == 'B') { topR = 74; leftR = 60; }
            if (resp.OpcionRespuesta == 'C') { topR = 86; leftR = 25; }
            if (resp.OpcionRespuesta == 'D') { topR = 86; leftR = 60; }
            <a href='@Url.Action("PreguntaRespondida","Home", new {Opcion = resp.OpcionRespuesta})' class="text-decoration-none text-light"
            style="position:absolute; top:@topR%; left:@leftR%; font-size:32px; border:0;">@resp.TextoRespuesta</a>
        }
        string disabled50 = "", disabledx2 = "", disabledSkip = "";
        string ariaDisabled50 = "false", ariaDisabledx2 = "false", ariaDisabledSkip = "false";
        if (ViewBag.Player.Comodin50 == false) { disabled50 = "disabled"; ariaDisabled50 = "true"; }
        if (ViewBag.Player.ComodinSaltear == false) { disabledSkip = "disabled"; ariaDisabledSkip = "true"; }
        if (ViewBag.Player.ComodinDobleChance == false) { disabledx2 = "disabled"; ariaDisabledx2 = "true"; }
    }
    <a href='@Url.Action("Descartar50","Home")' class="btn @disabled50" aria-disabled="@ariaDisabled50"
        style="position:absolute; top: 10%; left:5%;"><img src="/img/comodin50.png" width="110px"></a>
    <a href='@Url.Action("DobleChance","Home")' class="btn @disabledx2" aria-disabled="@ariaDisabledx2"
        style="position:absolute; top: 10%; left:14%;"><img src="/img/comodinx2.png" width="110px"></a>
    <a href='@Url.Action("SaltearPregunta","Home")' class="btn @disabledSkip" aria-disabled="@ariaDisabledSkip"
        style="position:absolute; top: 10%; left:23%;"><img src="/img/comodinSkip.png" width="110px"></a>
</div>